@use '../utils/variables.scss' as *;

.calendar {
  display: flex;
  flex-wrap: wrap;
  padding: $calendar-padding;
  margin: auto;
  gap: $calendar-gap;
  width: $side-of-square * 7 + $calendar-gap * 6;
}
