@use './blocks/calendar.scss';
@use './blocks/day.scss';
@use './utils/modifiers.scss';
@use './utils/variables.scss' as *;

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
