@use './variables.scss' as *;

@each $day, $index in (mon: 0, tue: 1, wed: 2, thu: 3, fri: 4, sat: 5, sun: 6) {
  .calendar--start-day-#{$day} {
    .calendar__day:first-child {
      margin-left: calc(($side-of-square + $calendar-gap) * #{$index});
    }
  }
}

@for $i from 28 through 31 {
  $cutof: $i + 1;
  .calendar--month-length-#{$i} {
    .calendar__day:nth-child(n + #{$cutof}) {
      display: none;
    }
  }
}
